.card-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.loading {
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 300%;
  font-weight: 600;
}