body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

@media screen and (max-width: 1250px) {
  body, html, #root {
    overflow: auto;
  }
}
